body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 10px 10px 10px;
}

h1, h2, h3, h4, h5, h6, th { 
  font-family: 'Helvetica', sans-serif;
}

h2 { float: left; }

tfoot th {
  text-align: right;
}

table, td, th {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

td, th {
  padding: .5em;
}

td.name, td.sum {
  font-weight: bold;
}

td.stat {
  font-family: 'Courier New';
  font-size: 15px;
}

tr:hover {
  background-color: rgba(255, 255, 0, 0.1);
}

.has-been-drafted {
  color: #ccc;
}

div.available-players {
  background-color: rgba(0, 0, 0, 0.02);
  margin-left: 475px;
  padding: 0px 20px;
}

div.available-players-by-position {
  float: left;
  padding: 0 10px;
}

div.roster {
  background-color: #fff;
  margin-top: 100px;
  padding-left: 20px;
  position: fixed;
}

div.row {
  border-bottom: 1px dashed #ccc;
  clear: both;
  overflow: auto;
  padding: 40px 10px;
}
