<h3>{{position}}</h3>

<table>
  <thead>
    <tr>
      <th>Drafted by</th>
      <th>Team</th>
      <th>Name</th>
      <th>Pos</th>
      <th>R</th>
      <th>HR</th>
      <th>RBI</th>
      <th>SB</th>
      <th>AVG</th>
    </tr>
  </thead>

  <tbody>
    {{#each player in players}}
      <tr {{bind-attr class="player.fantasyTeam:has-been-drafted"}}>
        {{player-component player=player fantasyTeams=fantasyTeams}}
      </tr>
    {{/each}}
  </tbody>
</table>
