<h3>{{position}}</h3>

<table>
  {{partial "partials/player-thead"}}
  <tbody>
    {{#each player in players}}
    <tr {{bind-attr class="player.fantasyTeam:has-been-drafted"}}>
        {{player-component player=player fantasyTeams=fantasyTeams}}
      </tr>
    {{/each}}
  </tbody>
</table>
