<td>{{view "select"
  value=selectedTeam
  content=fantasyTeams
  optionLabelPath="content.abbreviation"
  prompt="Select"}}</td>
<td>{{player.fantasyTeam.abbreviation}}</td>
<td>{{player.name}}</td>
<td>{{player.position}}</td>
